/* Transition */

.dialog-box{
    display: none;
    opacity: 0;
    translate: -10vw 0;
    transition-duration: 0.75s;
    transition-timing-function: ease;
    transition-behavior: allow-discrete;
}

.dialog-box[open]{
    display: block;
    opacity: 1;
    translate: 0 0;

    @starting-style{
        opacity: 0;
        translate: -10vw 0;
    }
}

.dialog-box::backdrop{
    opacity: 0;
    transition-behavior: allow-discrete;
    transition-duration: 0.75s;
    background-color: rgba(0, 0, 0, 0.539);
}

.dialog-box[open]::backdrop{
    opacity: 1;
}

@starting-style{
    .dialog-box[open]::backdrop{
        opacity: 0;
    }
}


/* General Styles */

.dialog-content{
    --_border-radius: 3px;
    height: 175px;
    width: 800px;
    border: 1px solid white;
    border-radius: var(--_border-radius);
    background-color: #292735;
    display: flex;
    padding: 5px;
    gap: 5px;
    position: absolute;
    bottom: 35px;
    left: 35px;
}

.avatar{
    flex-shrink: 0;
    aspect-ratio: 1;
    background: #15151c;
    border-radius: var(--_border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    position: relative;

    & > img {
        transform-origin: bottom;
        animation: avatarAnimation 0.6s infinite;
    }

    &::before{
        content: "";
        position: absolute;
        inset: 0;
        background: url("/assets/images/christmas-snow.gif");
    }

}

.speech{
    background-color: #363243;
    flex-grow: 1;
    border-radius: var(--_border-radius);
    border: 2px solid #3f3b4f;
    font-size: 1.4em;
    padding: 1em;
    font-family: "Pixelify Sans", sans-serif;
}

@keyframes avatarAnimation {
    0%{
        transform: scaleY(1) translateY(5px);
    }

    50%{
        transform: scaleY(1.05) translateY(5px);
    }

    100%{
        transform: scaleY(1) translateY(5px);
    }
}

