/* Transition Configuration*/

:is(dialog.settings, dialog.infos)[open] > :is(.settings-content, .info-content){
    transform: translate(0, 0);
    opacity: 1;

    @starting-style {
        opacity: 0;
        transform: translate( 0, -15vh);
    }
}


/* Global Styles */

.settings-content,
.info-content {
    transition: all 0.75s;
    opacity: 0;
    transform: translate(0, -15vh);
    border-radius: 5px;
    font-family: "Pixelify Sans", sans-serif;
    background-color: #458EBB;
    max-width: 950px;
    box-shadow:
        0 0 0 2px rgb(0, 0, 0),
        inset 0 0 0 8px #3b4668c8,
        inset 0 0 0 10px rgb(0, 0, 0),
        inset 0 0 60px 0px rgba(0, 0, 0, 0.484);

    & > h3 {
        margin-top: 10px;
        font-size: clamp(30px, 5vw, 3.5em);
        font-weight: 400;
        text-align: center;
    }

    & > hr{
        width: 90%;
        border: 1px solid white;
        border-radius: 2px;
        margin: 0 auto;
    }

    & > :is(.close-settings, .close-infos){
        background: none;
        font-size: clamp(30px, 5vw, 3em);;
        font-weight: 500;
        font-family: inherit;
        position: absolute;
        top: 20px;
        right: 20px;
        aspect-ratio: 1;
        line-height: 0;
        transition: color 250ms;
        cursor: pointer;

        &:hover{
            color: rgb(248, 97, 97);
        }
    }
}

/* Personals Styles*/

.info-content {
    display: flex;
    flex-direction: column;
}

.info-content .stats{
    padding: 1.5em;
    display: grid;
    grid-template-rows: 1fr;
    flex-grow: 1;
    padding: 2em;

    .stat-label{
        font-size: 1.85em;
        text-align: center;
        margin-bottom: 0.5em;
    }

    .success-list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3em;
        padding-block: 1em;

        & > .success-item{
            background-color: rgb(62, 77, 117);
            border: 3px dotted rgb(138, 157, 209);
            width: 125px;
            border-radius: 10px;
            aspect-ratio: 1;
            display: grid;
            place-items: center;
            font-size: 4em;
            color: lightgray;
            transition: 250ms;
            position: relative;
            z-index: 2;
            cursor: pointer;

            &:hover{
                scale: 1.07;
            }

            &::after{
                z-index: 5;
                content: attr(data-unlock);
                display: flex;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
                font-size: 0.3em;
                padding: 0.4em 0.7em;
                position: absolute;
                bottom: -55px;
                left: 50%;
                transform: translateX(-50%);
                height: 25px;
                background-color: rgba(1, 1, 1, 0.512);
                border-radius: 5px;
                transition: 450ms ease;
                opacity: 0;
                translate: 0 -10px;
            }

            &:hover:after{
                opacity: 1;
                translate: 0 0;
            }
        }
    }

    .gifts-opened{
        margin-top: 60px;
        font-size: 1.7em;
        text-align: center;

        & > .gift-count{
            color: rgb(255, 151, 33);
        }

        & > img {
            vertical-align: sub;
        }
    }
}

.settings-options{
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;

    & > button{
        font-size: clamp(17px, 3vw , 1.35em);
        font-weight: 500;
        font-family: "Pixelify Sans", sans-serif;
        flex-direction: column;
        align-self: flex-start;
        gap: 0.2em;
        padding-inline: 0.5em;
    }

    & > .reset-all > .confirm-reset{
        font-size: 0.70em;
        font-style: italic;
        color: rgb(224, 224, 224);
        padding-inline: 0.4em;
        display: none;

        &.visible{
            display: block;
        }
    }
}

.settings-options > .sound{
    --checkbox-size: 25px;
    margin-block: 35px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;

    & > div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        flex-wrap: wrap;
    }

    h5{
        font-size: clamp(20px, 3vw, 1.75em);
        font-weight: 400;
    }

    .inner-audiovolume{
       position: relative;

       & .volume-info{
        font-size: 1.2em;
        position: absolute;
        bottom: -30px;
        left: 50%;
        translate: -50% 0%;
       }
    }

    #audioVolume{
        appearance: none;
        padding: 5px 10px;
        outline: none;
        width: 200px;
        background-color: rgb(81, 180, 208);
        border: 2px solid rgba(255, 255, 255, 0.604);
        border-radius: 15px;
        cursor: pointer;
        color: rgb(255, 255, 255);
        vertical-align: bottom;

        &::-webkit-slider-thumb{
            appearance: none;
            width: 1em;
            aspect-ratio: 1;
            border: none;
            border-radius: 50vw;
            background-color: currentColor;
        }

        &::-moz-range-thumb{
            appearance: none;
            width: 1em;
            aspect-ratio: 1;
            border: none;
            border-radius: 50vw;
            background-color: currentColor;
        }
    }

    /* Checkbox Enable Volume*/
    label[for="enableAudio"]{
        position: relative;
        cursor: pointer;

        .enabled,
        .disabled{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: var(--checkbox-size);
            transform-origin: center;
            opacity: 0;
        }

        &:has(> #enableAudio:checked) > .enabled{
            opacity: 1;
        }

        &:has(> #enableAudio:not(:checked)) > .disabled{
            opacity: 1;
        }

        #enableAudio{
            vertical-align: middle;
            width: var(--checkbox-size);
            aspect-ratio: 1;
            appearance: none;
            background-color: rgba(214, 72, 59, 0.95);
            border-radius: 5px;
            outline: 2px solid rgb(235, 239, 242);
        }

        #enableAudio:checked{
            background-color: rgba(46, 156, 66, 0.811);
        }
    }
}

