/* Transition Configuration*/

:is(dialog.settings, dialog.infos)[open] > :is(.settings-content, .info-content){
    transform: translate(0, 0);
    opacity: 1;

    @starting-style {
        opacity: 0;
        transform: translate( 0, -15vh);
    }
}


/* Global Styles */

.settings-content,
.info-content {
    transition: all 0.75s;
    opacity: 0;
    transform: translate(0, -15vh);
    border-radius: 5px;
    font-family: "Pixelify Sans", sans-serif;
    background-color: #458EBB;
    max-width: 1100px;
    box-shadow:
        0 0 0 2px rgb(0, 0, 0),
        inset 0 0 0 8px #3b4668c8,
        inset 0 0 0 10px rgb(0, 0, 0),
        inset 0 0 60px 0px rgba(0, 0, 0, 0.484);

    & > h3 {
        margin-top: 10px;
        font-size: clamp(25px, 5vw, 3.5em);
        font-weight: 400;
        text-align: center;
    }

    & > hr{
        width: 90%;
        border: 1px solid white;
        border-radius: 2px;
        margin: 0 auto;
    }

    & > :is(.close-settings, .close-infos){
        background: none;
        font-size: clamp(25px, 5vw, 3em);
        font-weight: 500;
        font-family: inherit;
        position: absolute;
        top: 20px;
        right: 20px;
        aspect-ratio: 1;
        line-height: 0;
        transition: color 250ms;
        cursor: pointer;

        &:hover{
            color: rgb(248, 97, 97);
        }
    }
}

/* Personals Styles*/

.info-content {
    display: flex;
    flex-direction: column;
    width: clamp(275px, 50vw, 50em);
}

.info-content .stats{
    padding: 1.5em;
    display: grid;
    grid-template-rows: 1fr;
    flex-grow: 1;
    padding: 2.5em;

    .stat-label{
        font-size: clamp(20px, 2vw, 1.85em);
        text-align: center;
        margin-bottom: 0.5em;
    }

    .gifts-opened{
        font-size: clamp(18px, 4vw, 1.7em);
        text-align: center;

        & > .gift-count{
            color: rgb(255, 151, 33);
        }

        & > img {
            vertical-align: sub;
            width: 1.25em;
        }
    }
}

.success > .success-image{
    display: grid;
    padding-block: 1em;
    grid-template-rows: 115px 115px 50px;
    justify-content: center;

    & > figure{
        grid-column: 1;
        transform: translateX(40px);
        transition: 250ms ease-in-out;
        cursor: pointer;
        position: relative;
    }

    & > figure:hover{
        scale: 1.03;

        & > .unlock-condition{
            opacity: 1;
        }
    }

    & > figure.santa-face{
        width: 190px;
        translate: -40px -10px;

        & > .unlock-condition{
            top: 80%;
            left: 60%;
        }
    }

    & > figure.santa-body{
        width: 150px;
        grid-row: 2;

        & > .unlock-condition{
            top: 90%;
            left: 80%;
        }
    }

    & > figure.santa-arm{
        width: 65px;
        grid-row: 2;
        translate: -5px 15px;

        & > .unlock-condition{
            top: 75%;
        }
    }

    & > figure > img{
        filter: brightness(0%);
    }

    & > figure[data-unlocked='true']{

        & > img{
            filter: none;
        }

        & > .unlock-condition {
            background-color: rgba(45, 146, 74, 0.676);
        }
    }

    & > figure > .unlock-condition {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: rgba(0, 0, 0, 0.676);
        border-radius: 5px;
        padding-block: 0.2em;
        font-size: clamp(12px, 1vw, 1em);
        width: max-content;
        max-width: 15ch;
        text-align: center;
        pointer-events: none;
        opacity: 0;
        transition: 250ms ease-in-out;
    }

}


.settings-options{
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;

    & > button{
        font-size: clamp(17px, 3vw , 1.35em);
        font-weight: 500;
        font-family: "Pixelify Sans", sans-serif;
        flex-direction: column;
        align-self: flex-start;
        gap: 0.2em;
        padding-inline: 0.5em;
    }

    & :is(.confirm-reset, .confirm-unlock){
        font-size: 0.70em;
        font-style: italic;
        color: rgb(224, 224, 224);
        padding-inline: 0.4em;
        display: none;

        &.visible{
            display: block;
        }
    }
}

.settings-options > .sound{
    --checkbox-size: 25px;
    margin-block: 35px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;

    & > div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        flex-wrap: wrap;
    }

    h5{
        font-size: clamp(20px, 3vw, 1.75em);
        font-weight: 400;
    }

    .inner-audiovolume{
       position: relative;

       & .volume-info{
        font-size: 1.2em;
        position: absolute;
        bottom: -30px;
        left: 50%;
        translate: -50% 0%;
       }
    }

    #audioVolume{
        appearance: none;
        padding: 5px 10px;
        outline: none;
        width: 200px;
        background-color: rgb(81, 180, 208);
        border: 2px solid rgba(255, 255, 255, 0.604);
        border-radius: 15px;
        cursor: pointer;
        color: rgb(255, 255, 255);
        vertical-align: bottom;

        &::-webkit-slider-thumb{
            appearance: none;
            width: 1em;
            aspect-ratio: 1;
            border: none;
            border-radius: 50vw;
            background-color: currentColor;
        }

        &::-moz-range-thumb{
            appearance: none;
            width: 1em;
            aspect-ratio: 1;
            border: none;
            border-radius: 50vw;
            background-color: currentColor;
        }
    }

    /* Checkbox Enable Volume*/
    label[for="enableAudio"]{
        position: relative;
        cursor: pointer;

        .enabled,
        .disabled{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: var(--checkbox-size);
            transform-origin: center;
            opacity: 0;
        }

        &:has(> #enableAudio:checked) > .enabled{
            opacity: 1;
        }

        &:has(> #enableAudio:not(:checked)) > .disabled{
            opacity: 1;
        }

        #enableAudio{
            vertical-align: middle;
            width: var(--checkbox-size);
            aspect-ratio: 1;
            appearance: none;
            background-color: rgba(214, 72, 59, 0.95);
            border-radius: 5px;
            outline: 2px solid rgb(235, 239, 242);
        }

        #enableAudio:checked{
            background-color: rgba(46, 156, 66, 0.811);
        }
    }
}

